form{
    margin: 2rem;
}

label{
    font-weight: 700;
    font-size: 1.2rem;
}

.fixMargin{
    margin: 1rem 0 0 0;
}

.titleEstadist{
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
}

.content-result{
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 3rem ;
}

.text-result{
    font-size: 1.5vw;
    font-weight: 700;
}

.content-btn-form{
    text-align: center;
    margin: 2rem 0 0 0;
}